<div class="menu-fixed-light menu-light-mobiles menu-light menu-border">
    <header class="header-wrapper">
        <div class="main-header">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="menu-wrapper">
                            <div class="logo-wrapper">
                                <a href="https://www.boffinaccess.com" class="logo">
                                    <img src="assets/images/logo.png" class="logo-img logo-dark" alt="Logo">
                                    <img src="assets/images/logo-light.png" class="logo-img logo-light" alt="Logo">
                                </a>
                            </div>
                            <nav class="navbar-right">
                                <ul class="menu">
                                    <!-- Toggle Menu - For Mobile Devices -->
                                    <li class="toggle-menu">
                                        <i class="icon icon_menu"></i>
                                    </li>
                                    <li>
                                        <a href="https://www.boffinaccess.com/publications">Publications</a>
                                    </li>
                                    <li>
                                        <a href="#">Conferences</a>
                                    </li>
                                    <li>
                                        <a href="https://www.boffinaccess.com/submit-manuscript">Submit Manuscript</a>
                                    </li>
                                    <li>
                                        <a href="#">Best Practices</a>
                                        <div class="megamenu">
                                            <div class="row">
                                                <div class="col-3">
                                                    <ul class="megamenu-list">
                                                        <li class="title">Guidelines & Information</li>
                                                        <li>
                                                            <a href="https://www.boffinaccess.com/about-company-information">Company Information</a>
                                                        </li>
                                                        <li>
                                                            <a href="https://www.boffinaccess.com/author-guidelines">Author Guidelines</a>
                                                        </li>
                                                        <li>
                                                            <a href="https://www.boffinaccess.com/editor-guidelines">Editor Guidelines</a>
                                                        </li>
                                                        <li>
                                                            <a href="https://www.boffinaccess.com/reviewer-guidelines">Reviewer Guidelines</a>
                                                        </li>
                                                        <li>
                                                            <a href="https://www.boffinaccess.com/peer-review-guidelines">Peer Review Guidelines</a>
                                                        </li>
                                                        <li>
                                                            <a href="https://www.boffinaccess.com/special-issue-guidelines">Special Issue Guidelines</a>
                                                        </li>
                                                        <li>
                                                            <a href="https://www.boffinaccess.com/article-processing-charges">Article Processing Charges</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="col-3">
                                                    <ul class="megamenu-list">
                                                        <li class="title">Policies & Ethics</li>
                                                        <li>
                                                            <a href="https://www.boffinaccess.com/indexing">Indexing</a>
                                                        </li>
                                                        <li>
                                                            <a href="https://www.boffinaccess.com/benefits-for-authors">Benefits for Authors</a>
                                                        </li>
                                                        <li>
                                                            <a href="https://www.boffinaccess.com/publication-ethics">Publication Ethics</a>
                                                        </li>
                                                        <li>
                                                            <a href="https://www.boffinaccess.com/open-access">About Open Access</a>
                                                        </li>
                                                        <li>
                                                            <a href="https://www.boffinaccess.com/peer-review">About Peer review</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="col-3">
                                                    <ul class="megamenu-list">
                                                        <li class="title">Initiatives</li>
                                                        <li>
                                                            <a href="https://www.boffinaccess.com/collaborations">Collaborations</a>
                                                        </li>
                                                        <li>
                                                            <a href="https://www.boffinaccess.com/reprints-permissions">Reprints and Permissions</a>
                                                        </li>
                                                        <li>
                                                            <a href="https://www.boffinaccess.com/membership">Membership Program</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="col-3">
                                                    <ul class="megamenu-list">
                                                        <li class="title">Help & Info</li>
                                                        <li>
                                                            <a href="https://www.boffinaccess.com/faq">Frequently Asked Questions</a>
                                                        </li>
                                                        <li>
                                                            <a href="https://www.boffinaccess.com/contact-us">Contact Us</a>
                                                        </li>

                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <a href="/eb-files/login">Login / Register</a>
                                    </li>

                                    <li class="li-icon">
                                        <a href="#" id="search-trigger">
                                            <i class="icon icon_search"></i>
                                            <span class="li-visible-mobile">Search</span>
                                        </a>
                                        <div class="megamenu">
                                            <div class="row">
                                                <div class="col-12">
                                                    <!-- <?php include("include/search.php"); ?> -->
                                                </div>
                                            </div>
                                        </div>
                                    </li>

                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
</div>